In [2]:

import streamlit as st
import pandas as pd

st.set_page_config(page_title= "Sales Dashboard",
                    page_icon=":bar_chart:",
                    layout='wide')

df= pd.read_csv("supermarkt_sales.csv")
st.dataframe(df)

2022-03-05 12:24:52.099
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run C:\Users\user\AppData\Local\Programs\Python\Python310\lib\site-packages\ipykernel_launcher.py [ARGUMENTS]

DeltaGenerator(_root_container=0, _provided_cursor=None, _parent=None, _block_type=None, _form_data=None)

In [3]:
df= pd.read_csv("supermarkt_sales.csv")

In [4]:
df.columns

Index(['Invoice ID', 'Branch', 'City', 'Customer_type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date',
       'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross income',
       'Rating'],
      dtype='object')

In [17]:
df.groupby(by=["Product line"])

,Invoice ID,Branch,City,Customer_type,Gender,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
Product line,,,,,,,,,,,,,,,,
Electronic accessories,170,170,170,170,170,170,170,170,170,170,170,170,170,170,170,170
Fashion accessories,178,178,178,178,178,178,178,178,178,178,178,178,178,178,178,178
Food and beverages,174,174,174,174,174,174,174,174,174,174,174,174,174,174,174,174
Health and beauty,152,152,152,152,152,152,152,152,152,152,152,152,152,152,152,152
Home and lifestyle,160,160,160,160,160,160,160,160,160,160,160,160,160,160,160,160
Sports and travel,166,166,166,166,166,166,166,166,166,166,166,166,166,166,166,166